h3{
    font-size: 25px !important;
}
.btn-success:hover{
    background-color: red;
}
canvas{
    animation-name:example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {
    from {box-shadow: 5px 5px 40px rgb(128, 0, 0);}
    to {box-shadow: 15px 15px 60px rgb(0, 255, 0);}
}